<div class="fixed-bottom d-flex justify-content-center mb-1" data-toggle="tooltip" data-placement="top" title="arkasha9606@gmail.com">
  <a class="link text-center text-white font-weight-light bg-info rounded pt-1 pb-1 pl-2 pr-2" href="mailto:arkasha9606@gmail.com">Created by Arkady Zelensky</a>
</div>
