<header class="container">  
  <div class="justify-content-center">
    <div class="col">
      <h1 style="text-align: center">
        <a class="nav-link" href="/">BOOK STORE</a>
      </h1>
    </div>

    <div class="btn-group d-flex justify-content-end" role="group">
      {{#if isSigned}}
        <a href="/user" class="btn btn-light">Profile</a>
      {{else}}
        <a href="/auth/signup" class="btn btn-light">Sign up</a>
      {{/if}}

      {{#if isSigned}}
        <a href="/auth/signout" class="btn btn-light">Sign out</a>

      {{else}}
        <a href="/auth/signin" class="btn btn-light">Sign in</a>
      {{/if}}

    </div>

  </div>


</header>